<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Display</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>
</head>
<body>
<div align="center">
    <h1>Thank You</h1>

</div>

</body>
</html>