<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ScrapBook</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>
</head>
<body>
<div align="center " class="container">
    <h1>ScrapBook</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${note}" method="POST">
        <label for="name">
            Name
        </label>
        <input type="text" id="name" th:field="*{name}" />
        <br/>
        <br/>
        <label for="description">
            Description
        </label>
        <input type="text" id="description" th:field="*{description}" /></td>
        <br/>
        <br/>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
    </form>
</div>

</body>
</html>